
*{
box-sizing: border-box;
}

body {
cursor: url('img/cursor.png'), auto;
margin: 0;
background-color: rgb(62, 34, 128);
height: 100vh;
display: flex;
flex-direction: column;
align-items: center;
border: -5px;

}

#imagenes {
z-index: 10;
position: relative;
display: flex;
flex-wrap: wrap;
justify-content: center;
 top:-60px
}

.face, .you {
margin: 0 20px;
bottom: -90px;
position: relative;
z-index: 10;
}


#opciones {
position:relative;
display: flex;
flex-wrap: wrap; 
bottom: 88px;
right: 15px;
font-family: "Bebas Neue", sans-serif;
font-weight: 400;
font-style: normal;
color: rgb(73, 31, 141);
text-align: center;

}

#opciones li {
margin: 16px;
border: 2px solid rgb(255, 255, 255);
width: 69.4px;
height: 50px;
padding: 29px;
background-color: aliceblue;
border-radius: 10px;
list-style: none;
cursor: pointer;
position: relative;
top: -3px;
}


#opciones li:hover {
color: rgb(176, 161, 245);
transform: scale(1.05);
box-shadow: 0 0px 15px rgb(0, 255, 234); 
transition-duration: 300ms;
}



.linea {
border: 15.6px solid aliceblue;
position: relative;
background-color: aliceblue;
height: 7%;
width: 49%;
z-index: -1;
display: flex;
bottom: 165px;

}

h1 {
position: relative; 
margin-top: 20px;
font-family: "Bebas Neue", sans-serif;
font-weight: 400;
font-style: normal;
text-align: center;
text-decoration: underline;
top: 170px;
}

.cuentamelo, .episodio {
position: relative;  
margin-top: 90px;
bottom:20%;

}

h3 {
list-style: none;
font-family: "Bebas Neue", sans-serif;
font-weight: 400;
font-style: normal;
text-align: center;
position: relative;
top: 50px;
}

.muerte{
position: relative; 
margin-top: 60px;
font-family: "Bebas Neue", sans-serif;
font-weight: 400;
font-style: normal;
text-align: center;
text-decoration: underline;
text-align: center;
z-index: 5;
background-color: rgb(98, 73, 209);
top: 380px;

}

.pad{
top: 40%;

}
.novedade{
position: relative; 
margin-top: 20px;
font-family: "Bebas Neue", sans-serif;
font-weight: 400;
font-style: normal;
text-align: center;
text-decoration: underline;
top: 4%;
z-index: 5;
background-color: rgb(98, 73, 209);
display: flex;
bottom: 190px;
}

.face{
position: relative;  
bottom: -86px;
}
.x{
right: -5%;  
position: relative;
z-index: 10;
bottom: -80px; 
}
#opciones .boton{
    background-color: rgb(255, 255, 255);
    border: 2px solid rgb(255, 255, 255);
    color: rgb(176, 161, 245);
    background-color: white;
    transform: scale(1.05);
    box-shadow: 0 0px 15px rgb(0, 255, 234); 
    }


    .noso, .cont, .gale,.blo{
        position: relative;
        right: 19px;
        bottom: 10px;
        }
        
.gale{
position: relative;
right:16px;
}
.blo, .ini{
position: relative;
bottom: 10px; 
right:8px;
}
.vidi{
position: relative;
bottom: 10px;
right: 9px;
}
.a,.b,.c,.d,.f,.g{
position: relative;
bottom: 10px;
right: 3px;
}
.cont{
    left: -22px;
}
.navi{
    position: relative;
    right: 16px;
    bottom: 10px;
}
        