body {
cursor: url('img/cursor.png'), auto;
margin: 0;
background-color: rgb(62, 34, 128);
height: 100vh;
border: 15px solid rgba(255, 255, 255, 0);
box-sizing: border-box;
}

.you{
left: -66px;    
}
.face, .you{
right:10%;
bottom: 0px;
position: relative;
}
        
.you{
right:74%;
position: relative;
}
        
.face{
right: 164px;   
}
.x{
left: 30px;
position: relative;
}

#imagenes {
z-index: 10;
position: absolute;
display: flex;
align-content: space-around;
align-items: center;
top: 980px; 
left: 56%; 
transform: translateX(-50%); 
}


#opciones {
position: relative;
display: flex;
flex-wrap: wrap;
bottom: 1px;
font-family: "Bebas Neue", sans-serif;
color: rgb(73, 31, 141);
text-align: center;
width: 100%;
justify-content: center;
padding-left: 5px;
}
    
#opciones li {
margin: 15px; 
border: 2px solid rgb(255, 255, 255);
width: 30px;
height: 20px; 
padding: 19px; 
background-color: aliceblue;
border-radius: 10px;
list-style: none;
cursor: pointer;
position: relative;
bottom: 20px;
}

        


#opciones .boton{
background-color: rgb(255, 255, 255);
border: 2px solid rgb(255, 255, 255);
color: rgb(176, 161, 245);
background-color: white;
transform: scale(1.05);
box-shadow: 0 0px 15px rgb(0, 255, 234); 
}

.linea{
border: 6px solid none;
position: absolute;
background-color: aliceblue;
top: 7.8%;
left: 50%;
height: 30px;
width: 49%;
transform: translate(-50%, -50%);
z-index: -1;
}

h1{
position: absolute; 
top: 100px;   
font-family: "Bebas Neue", sans-serif;
font-weight: 400;
font-style: normal;
left: 47%;
text-decoration: underline;
}

#venta{
display: flex;  
justify-content:space-around;
top: 80px;
position: relative;
filter: drop-shadow(10px 0px 10px);
color: rgb(29, 7, 58);
left: 30px;
}
#ventad{
display: flex;  
justify-content:space-around;
top: 200px;
position: relative;
filter: drop-shadow(10px 0px 10px);
color: rgb(29, 7, 58);

}
.uno{
position: absolute; 
top: -22px;  
left: 36.5%;
}
.dos{
width: 210px;

}
.derecha{
position: absolute;
top: -20px;
left: 36%;
}


.paquete li{
list-style: none;
font-family: "Bebas Neue", sans-serif;
font-weight: 400;
font-style: normal;
}
.meru{
position: relative; 
right: 80px;   
bottom: 74px;
}
.merd{
 position: relative; 
 left: 110px;  
bottom:44px;
}


.noso, .cont{
    position: relative;
    right: 10px;
    }
    
    .gale{
    position: relative;
    right: 4px;
    }
    #opciones li:hover {
        color: rgb(176, 161, 245);
        transform: scale(1.05);
        box-shadow: 0 0px 15px rgb(0, 255, 234); 
        transition-duration: 300ms;
        }
        
        .navi{
            position: relative;
            right: 6px;
        }
                